{% extends 'admin_panel_templates/admin_base.html' %}
{% load static %}
{% block content%}



            <div class="card">
										
										<div class="card-body">
											<form method="post" action="{% url 'add_variation' %}" enctype="multipart/form-data">
											{% csrf_token %}
                          {{form.product.label}}
                          {{form.product}}
                          <br>
                          <br>
                          {{form.variation_category.label}}
                          {{form.variation_category}}
                          <br>
                          <br>
                          {{form.variation_value.label}}
                          {{form.variation_value  }}
                          <br>
                          <br>
                          {{form.is_active.label}}
                          {{form.is_active  }}
                          <br>
                          <br>
                          <br>	
												<button type="submit" class="btn btn-primary">Save changes</button>
											</form>

										</div>
									</div>
          </div>
        </div>
       
{% endblock %}