
{% extends 'admin_panel_templates/admin_base.html' %}
{% load static %}
{% block content %}


          <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Refferals</h4>
                  <p class="card-description">
                    <code></code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped" id="myTable">
                      <thead>
                        <tr>
                          <th>
                            User
                          </th>
                          <th>
                             Recommended By
                          </th>
                          <th>
                            Refferel Code 
                          </th>
                          
                        </tr>
                      </thead>
                      <tbody>
                      {% for refferel in reff %}
                        <tr>
                        
                          <td class="py-1">
                            {{refferel.user}}
                          </td>
                          <td>
                            {{refferel.recommended_by}}
                          </td>
                          <td>
                            <a href="{{refferel.code}}">{{refferel.code}}</a>
                          </td>
                         
                        </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}