{% extends 'admin_panel_templates/admin_base.html' %}
{% load static %}
{% block content%}

            <div class="card">	
				<div class="card-body">
					<form method="post" action="{% url 'update_product' products.id %}" enctype="multipart/form-data">
					{% csrf_token %}
						<div class="row">
							<div class="mb-3 col-md-6">
								<label class="form-label" for="inputFirstName">Name</label>
								<input type="text" class="form-control" id="inputZip" name="name" value="{{products.product_name}}">
							</div>
							<div class="mb-3 col-md-6">
								<label class="form-label" for="inputLastName">Price</label>
								<input type="text" class="form-control" id="inputZip" name="price" value="{{products.price}}">
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="inputEmail4">Description</label>
							<input type="text" class="form-control" id="inputZip" name="description" value="{{products.description}}">
						</div>
						{% comment %} <div class="row">
							<div class="mb-3 col-md-6">
								<label class="form-label" for="inputFirstName">Image</label>
								<input type="image" class="form-control" id="inputZip" name="images" value="{{products.images}}">
							</div> {% endcomment %}
							<div class="mb-3 col-md-6">
								<label class="form-label" for="inputLastName"></label>
								
							</div>
						</div>
						<div class="row">
							<div class="mb-3 col-md-6">
								<label class="form-label" for="inputFirstName">Slug</label>
								<input type="text" class="form-control" id="inputZip" name="slug" value="{{products.slug}}">
							</div>
							<div class="mb-3 col-md-6">
								<label class="form-label" for="inputLastName">Image 4</label>
								
							</div>
						</div>
						
						<div class="row">
							<div class="mb-3 col-md-6">
								<label class="form-label" for="inputCity">Stok</label>
								<input type="text" class="form-control" id="inputZip" name="stock" value="{{products.stock}}">
							</div>
							<div class="mb-3 col-md-4">
								<label class="form-label" for="inputState">Category</label>
								<input type="text" class="form-control" id="inputZip" name="category" value="{{products.category}}">
							</div>
							<div class="mb-3 col-md-2">
								<label class="form-label" for="inputZip">Size</label>
								<input type="text" class="form-control" id="inputZip" name="size" value="{{products.size}}">
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</form>

				</div>
			</div>






          </div>
        </div>
{% endblock %}