{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->


<div class="row">
	<aside class="col-lg-6">
<div class="card">

    <div class="card-body">
        <h4 class="card-title mb-4">Billing Address</h4>
        <form action="{% url 'update_address' user_address.id %}" method="POST">
        {% csrf_token %}
            <div class="form-row">
                <div class="col form-group">
                    <label class="">First Name</label>
                    <input type="text" name="first_name" class="form-control" required value="{{user_address.first_name}}">
                </div>
                <div class="col form-group">
                    <label class="">Last Name</label>
                    <input type="text" name="last_name" class="form-control" required value="{{user_address.last_name}}">
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label class="">Email</label>
                    <input type="email" name="email" class="form-control" required value="{{user_address.email}}">
                </div>
                <div class="col form-group">
                    <label class="">Phone Number</label>
                    <input type="text" name="phone" class="form-control" required value="{{user_address.phone}}">
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label class="">Address Line 1</label>
                    <input type="text" name="address_line_1" class="form-control" required value="{{user_address.address_line_1}}">
                </div>
                <div class="col form-group">
                    <label class="">Address Line 2</label>
                    <input type="text" name="address_line_2" class="form-control" value="{{user_address.address_line_1}}">
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label class="">City</label>
                    <input type="text" name="city" class="form-control" required value="{{user_address.city}}">
                </div>
                <div class="col form-group">
                    <label class="">State</label>
                    <input type="text" name="state" class="form-control" required value="{{user_address.state}}">
                </div>
                <div class="col form-group">
                    <label class="">Country</label>
                    <input type="text" name="country" class="form-control" required value="{{user_address.country}}">
                </div>
            </div>
            <div class="form-row">
                <label form="">Order Note</label>
                <textarea name="order_note" rows="2" class="form-control"></textarea>
            </div>
            <br>
            <div class="form-row">
                <button type="submit" name="submit" class="btn btn-primary btn-block">Update Your Address</button>
            </div>
            
        
    </div>

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	

</div> <!-- row.// -->

<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}